body{
	padding:0;
	margin:0;

	font-family: 'Kurale', serif;
	font-family: FontAwesome;
}
canvas{
	position: absolute;
	padding:0;
	margin:0;
}
canvas#webgl{
	z-index: 0;
}
canvas#canvas-assets{
	z-index: 1;
}
canvas#canvas-touch{
	z-index: 2;
}
#settings{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 900;
    right: 10px;
    bottom: 10px;
    /* background: white; */
    font-family: FontAwesome;
    text-align: center;
}
#settings:after{ 
	content: '\f013';
    font-size: 50px;
    line-height: 58px;
    color: rgba(255,255,255,0.5);
} 
.modal{
	z-index: 10001;
}
.media img{
	width: 50px;
}
.modal-body { 
    padding: 5px;
}
#ct-3{
	min-width: 280px;
}
.tab-content p{
	padding:5px;
}
@media (min-width: 400px){
	.modal-dialog {
	    width: 330px;
	    margin: 30px auto;
	}
} 
@media (min-width: 600px){
	.modal-dialog {
	    width: 400px;
	    margin: 30px auto;
	}
} 
 